{% extends "layout.html" %}

{% block title %}
Admin, Add Category
{% endblock %}

{% block main %}
<header class="container-fluid">
    {% include "navbar.html" %}
</header>
<div id="admin-section" class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            {% include "admin/sidebar.html" %}
            
        </div>
        <div class="col-md-9">
            <div id="category-section" class="form-flex">
                <h3 class="heading-secondary">New Category</h3>
                <form action="/admin/category/add" class="" method="POST">
                    <div class="input-group">
                        <label for="category">Category Name</label>
                        <input type="text" name="category" id="category" class="" autocomplete="off">
                        <small class="small form-text text-left">Required</small>
                    </div>
                    <button class="btn primary-btn">Add Category</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}